$primary: #cf1069;

$carousel-indicator-active-bg:   #030000;
$carousel-control-color:    #fff;
$carousel-control-width:             5%;
$carousel-indicator-height:          100rem;
$carousel-indicator-width:           50px;

$carousel-indicator-active-bg:      #cf1069;
$carousel-control-icon-width:        50rem;
$carousel-caption-color:             $primary;



@import '../node_modules/bootstrap/scss/bootstrap';